<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.concert.dao.ConcertMapper">
	<sql id="concertSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					<!-- concert_title LIKE '%' || #{keyword} || '%' -->
					<!-- 정규 표현식으로 표현. 3번째 인수 i는 대소문자 포함 -->
					REGEXP_LIKE (concert_title, '|' || #{keyword} || '|', 'i')
				</if>
				<if test="keyfield == 2">
					<!-- casting LIKE '%' || #{keyword} || '%' -->
					<!-- 정규 표현식으로 표현. 3번째 인수 i는 대소문자 포함 -->
					REGEXP_LIKE (casting, '|' || #{keyword} || '|', 'i')
				</if>
			</if>
		</where>
	</sql>
	<!-- 콘서트 총 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM concert JOIN concert_detail USING(concert_num)
		<include refid="concertSearch"></include>
	</select>
	
	<!-- 콘서트 전체 목록 -->
	<select id="selectList" parameterType="map" resultType="concertVO">
		SELECT
			*
		FROM (SELECT
			a.*,
			rownum rnum
		FROM (SELECT
				concert_num,
				concert_title,
				period,
				concert_hall,
				monopoly,
				img_poster
			FROM concert JOIN concert_detail USING(concert_num)
			<include refid="concertSearch"></include>
			ORDER BY concert_num ASC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]> 		
	</select>
	
	<!-- 콘서트 상세 -->
	<select id="selectConcert" parameterType="integer">
		SELECT
			*
		FROM concert JOIN concert_detail
		USING(concert_num)
		WHERE concert_num=#{concert_num}
	</select>

	<!-- 콘서트 회차 -->
	<select id="selectRoundList" parameterType="integer" resultType="concertRoundVO">
		SELECT
			*
		FROM concert_round
		WHERE concert_num=#{concert_num}
		order by c_round_num
	</select>
	
	<!-- 콘서트 회차 좌석 정보 -->
	<select id="selectC_roundRemainingSeats" parameterType="integer" resultType="integer">
		SELECT
			total_seat
		FROM concert_round
		WHERE c_round_num=#{c_round_num}
	</select>

	<!-- 단일 콘서트 정보 -->
	<select id="selectConcertInfo" parameterType="integer" resultType="ConcertVO">
		SELECT
			concert_num,
			concert_title,
			period,
			concert_hall,
			img_poster
		FROM concert
		WHERE concert_num=#{concert_num}
	</select>
	
	<!-- 단일 콘서트 회차 정보 -->
	<select id="selectRound" parameterType="integer" resultType="ConcertRoundVO">
		SELECT
			*
		FROM concert_round
		WHERE c_round_num=#{c_round_num}
	</select>
<!-- 웹 크롤링 -->

	<!-- 콘서트 목록 데이터-->
	<insert id="insertConcert" parameterType="concertVO">
		INSERT INTO concert (
			concert_num,
			concert_title,
			period,
			concert_hall,
			monopoly,
			img_poster
			)
		VALUES (
			concert_seq.nextval,
			#{concert_title},
			#{period},
			#{concert_hall},
			#{monopoly},
			#{img_poster}
			)
	</insert>
	<!-- 콘서트 상세 페이지 -->
	<insert id="insertConcertDetail" parameterType="concertDetailVO">
		INSERT INTO concert_detail (
			concert_num,
			grade,
			viewing_time,
			casting,
			c_round_1,
			c_round_2,
			image_1,
			image_2,
			image_3,
			image_4,
			image_5,
			image_6,
			image_7
			)
		VALUES (
			#{concert_num},
			#{grade},
			#{viewing_time},
			#{casting},
			#{c_round_1},
			#{c_round_2},			
			#{image_1},	
			#{image_2},	
			#{image_3},	
			#{image_4},	
			#{image_5},	
			#{image_6},	
			#{image_7}
			)
	</insert>
	
	<!-- 콘서트 회차 -->
	<insert id="insertConcertRound" parameterType="concertRoundVO">
		INSERT INTO concert_round (
			c_round_num,
			concert_num,
			year,
			month,
			day,
			concert_time
			)
		VALUES (
			concert_round_seq.nextval,
			#{concert_num},
			#{year},
			#{month},
			#{day},
			#{concert_time}
			)
	</insert>
</mapper>





