/*questionList*/
.list{
	width: 80%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	line-height:2rem;
	text-align:center;
}
.question-list .nav-item {
	display: inline-block;
	text-align: center;
	border: 1px solid #ccc;
}

.question-list .nav-link {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}
.question-main {
    width:80% !important;
    margin:0 auto;
}
.question-form{
	width:800px;
	margin:0 auto;
	margin-top:50px;
	border:none;
	padding:10px 10px 30px 10px;
}
.custom-textarea{
	height:150px;
}
.table th{
	text-align:center;
}

.table td {
	text-align: center;
}
.faq-content span {
    display: block;
    width: 11px;
    height: 15px;
    background: url(//cdnticket.melon.co.kr/resource/image/web/common/bg_btn_barB.png) 0 0 no-repeat;
}
.category li{
	display:inline-block;
}
.category li > a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #ddd;
    margin-right:15px;
}
.category li a{
	padding:5px;
}

.event-main {
    width:50% !important;
    margin:0 auto;
}

.box_tit {
    position: relative;
    border: 1px solid #eee;
    padding: 21px 29px 25px;
    margin-top:50px;
}
.tit_event {
    overflow: hidden;
    max-height: 60px;
    padding-right: 90px;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    font-family: AppleSDGothicNeo-Regular, "맑은 고딕","Malgun Gothic";
}
.data_info {
    padding-top: 13px;
    font-size: 14px;
    color: #666;
    font-family: AppleSDGothicNeo-Regular, "돋움",Dotum;
}
.photo2{
	margin-top:30px;
	text-align:center;
}
.event_content{
	margin-top:30px;
	margin-left:30px;
}
.buttons{
	text-align:right;
	margin-top:30px;
}
.event_list{
	margin-top:30px;
	text-align:center;
}