@charset "UTF-8";

/* 전체 레이아웃
-------------------------*/
#main{
	width:100%;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
#main_header{
	margin-bottom:10px;
	padding:0 10px 0 0;
}
#main_body{
	width:1300px;
	padding:5px 5px 30px 5px;
	min-height:500px;
}
#main_footer{
	display:block;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#999999;
}
.bnr-bottom-wrap {
    width: 100%;
    background: #f6f6f6;
}
.bnr-bottom {
    width: 1200px;
    display: table;
    margin: 0 auto;
}
.bnr-bottom .bnr-bottom-01 {
    padding-left: 120px;
    background: url(http://tkfile.yes24.com/imgNew/common/ico-bnr-bottom01.png)no-repeat 20px center;
    position: relative;
}
.bnr-bottom > div {
    width: 50%;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}
.bnr-bottom > div p {
    font-size: 16px;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 14px;
    position: relative;
    font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
}
.bnr-bottom > div p:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background: #46c2b5;
    position: absolute;
    left: 0;
    bottom: 0;
}
.bnr-bottom > div span {
    font-size: 13px;
    color: #666;
}
.bnr-bottom .bnr-bottom-01:after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    background: #ddd;
    position: absolute;
    top: 20px;
    right: 0;
}
.bnr-bottom .bnr-bottom-02 {
    padding-left: 140px;
    background: url(http://tkfile.yes24.com/imgNew/common/ico-bnr-bottom02.png)no-repeat 40px center;
}
div.cont {
    width: 1200px;
    margin: 0 auto;
}
.footer-menu {
    border-bottom: 1px solid #f6f6f6;
    height: 70px;
    position: relative;
}
.footer-menu > a:first-child {
    padding-left: 0;
}
.footer-menu > a {
    display: inline-block;
    line-height: 78px;
    font-size: 15px;
    color: #333;
    padding: 0 16px;
    position: relative;
}
.fb {
    font-weight: bold !important;
}
.footer-menu .family {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 21px;
    right: 0;
    border: 1px solid #999;
    width: 168px;
    height: 28px;
    background: #fff;
}
.footer-txt {
    position: relative;
    height: 165px;
}
.footxt {
    position: absolute;
    top: 22px;
    left: 221px;
}
.footxt p {
    font-size: 15px;
    color: #333;
    line-height: 23px;
    margin-bottom: 5px;
}
.footxt p.gray {
    color: #999;
    font-size: 13px;
}
.footxt p.gray a {
    font-size: 13px;
    color: #333;
    padding-right: 10px;
    background: url(http://tkfile.yes24.com/imgNew/common/f-arrow.png)no-repeat right center;
    margin-left: 15px;
}
.txt_d {
    text-decoration: underline !important;
}
.foo-right {
    position: absolute;
    top: 30px;
    right: -6px;
    width: 225px;
    font-size: 12px;
}
.foo-right .mark a {
    font-size: 12px;
    color: #333;
    padding-right: 10px;
    background: url(http://tkfile.yes24.com/imgNew/common/f-arrow.png)no-repeat right center;
    margin-left: 45px;
    vertical-align: middle;
}
.foo-right p.fservice {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    line-height: 18px;
}

/* 좌측 메뉴 레이아웃(Admin,MyPage)
-------------------------*/
#page_nav{
	float:left;
	width:17%;
	height:330px;
}
#page_body{
	width:79%;
	float:left;
	margin-left: 40px;
	min-height: 900px;
}
.page_clear{
	clear:both;
}

/* 페이지 기본 레이아웃
-------------------------*/
.page-main{
	width:98%;
	margin:0 auto;/*중앙 정렬*/
}
.page-one{
	width:600px;
	margin:0 auto;
}

/* 공통 메시지 및 버튼
-------------------------*/
.result-display{
	width:400px;
	height:200px;
	margin:100px auto;/*상하 좌우*/
	border:1px solid #000;/*테두리*/
	display: flex;/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
  	align-items: center;/*세로 정렬*/
  	justify-content: center;/*가로 정렬*/
}
.error-color{
	color:#ff0000;
}
.default-btn{
	padding:5px 20px;
	border:1px solid #09aa5c;
	border-radius:2px;
	color:#fff;
	background-color:#09aa5c;
	font-weight:bold;
	cursor:pointer;
}
/* 공통 정렬
-------------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
	margin-top:100px;
	margin-bottom: 30px;
}
/* 상단 메뉴
-------------------------*/
/* 메인
-------------------------*/
/* 공통 등록, 수정 폼
-------------------------*/
form{
	margin:0 auto;
	padding:10px 10px 30px 10px;
}
ul{
	list-style:none;
}

form ul li{
	clear:both;
}
form ul li label{
	padding-top:10px;
	float:left;
}
input{
	margin-top:4px;
	padding:5px;
}
input[type="checkbox"]{
	margin:11px 0 10px 0;
}
/* 회원가입 등록, 수정 폼
-------------------------*/
#member_register{
	width:840px;
}
#member_register ul, #member_modify ul{
	padding-left:120px;
}
#member_register input[id="id"]{
	width:236px;
}
#member_register input[id="zipcode"], #member_modify input[id="zipcode"]{
	width:220px;
}
#member_modify{
	width:96%;
}
#member_delete input[id="id"], #member_delete input[id="passwd"]{
	width:240px;
}
/* 로그인
-------------------------*/
#member_login{
	width:320px;
	padding:0;
	margin:0 auto;
	border:none;
}
#member_login ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.25rem 0.65rem;
	transition:all 0.25s; 
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}

.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}
#member_login .login-btn{
	width:320px;
}
#member_login label[for="auto"]{
	width:220px;
	padding:0 0 5px 0;
}
/* Admin, MY페이지 공통
-------------------------*/
.side-bar{
	margin:10px 10px 10px 0;
	padding:10px;
	/*사이드바의 높이가 컨텐트의 높이와 동일하게 자동 조절*/
	margin-bottom:-9999px;
	padding-bottom:9999px;
}
.side-bar ul{
	margin:0;
	padding:0;
	font-size: 18px;
	border: 1px solid lightgray;
}
.side-bar ul li{
	padding:5px 10px 5px 10px;
}
.side-bar ul li img{
	margin-left:3px;
}
.side-height{
	/*사이드바의 높이가 컨텐트의 높이와 동일하게 자동 조절하기 위해 흘러넘친 배경색은 숨김*/
	overflow:hidden;
	margin-bottom:10px;
}
.menu-btn{
	width:100%;
	height:50px;
	font-size:12pt;
	background-color:#fcfcfc;
	border-color:#b7b5b5;
	border-radius:5px;
}

/* MY페이지
-------------------------*/
.camera{
	width:50px;
	height:50px;
	border-radius:100%;
	background-color:#d3bb72;
	position:relative;
	top:-60px;
	left:140px;
	border:2px solid #fff;
	cursor:pointer;
	padding:13px 0 0 10px;
}
.my-photo{
	object-fit:cover;
	object-position:top;
	border-radius:50%;
}

/* 공통 목록
-------------------------*/
form#search_form{
	width:98%;
	padding-bottom:0;
	border:none;
}
ul.search{
	width:380px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
ul.search li select{
	height:30px;
}
table.basic-table{
	width:100%;
	margin:7px 0;
	border:1px solid #000;
	border-collapse:collapse;
}
table.basic-table td, table.basic-table th{
	border:1px solid #000;
	padding:5px;
}
table.striped-table{
	width:100%;
	margin:7px 0;
	border:1px solid #FFF;
	font-size:15px;
	border-collapse:collapse;
	text-align: center;
}
table.striped-table td, table.striped-table th{
	padding:.7em .5em;
	vertical-align:middle;
}
table.striped-table th{
	font-weight:bold;
	background:#E1E1E1;
}
table.striped-table td{
	border-bottom:1px solid rgba(0,0,0,.1);
}
table.striped-table tr:nth-child(odd){
	background-color:rgb(250,250,247);
}
/* 게시판 목록
-------------------------*/
form#search_form #order{
	height:32px;
}
/* 게시판 폼
-------------------------*/
form#register_form, form#update_form{
	padding:0 0 10px 0;
	width:800px;
}
form#register_form ul, form#update_form ul{
	padding:20px;
}
/* 게시판 글 상세
-------------------------*/
ul.detail-info{
	list-style:none;
	margin:0;
	padding:0;
}
ul.detail-info li{
	margin:0;
	padding-top:5px;
	display:inline-block;
}
ul.detail-info li:last-child{
	vertical-align:top;
}
.detail-img{
	max-width:500px;
}
.detail-content img{
	max-width: 940px;
}
#output_fav{
	cursor:pointer;
}
#output_fcount{
	width:50px;
	display:inline-block;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#eeeeee;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px 10px;
}
div#re_first,div#mre_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#loading{
	width:100px;
	height:50px;
	/*정중앙에 div를 배치하기 위한 설정*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
	display:flex;
	/*세로 정렬*/
	align-items:center;
	/*가로 정렬*/
	justify-content:center;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form{
	border:none;
	margin:5px;
}

/*추가*/
.date_box{
	font-size: 25px;
	align-content: center;
	vertical-align: top;
	text-align: center;
	 position: relative;
   overflow-x: auto;
   --bs-gutter-x: 0;
}
#date-table {
	overflow: auto;
  border-collapse: collapse;
  width: 100%;
  display: block;
}
#date-table td {
  text-align: center;
}
#date-table tr {
	display: table;
	width:100%;
}

.scrollable {
  max-height: 250px; /* 조절하고자 하는 최대 높이로 설정 */
  overflow-y: auto;
}
.submit_box{
	margin-top: 20px;
	align-content: center;
	text-align: center;
	font-size: 25px;
	vertical-align: middle;
	border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 */
}
#reservation_form{
	padding: 30px;
	font-size: 20px;
	min-height: 630px;
	position: relative;
}
#reservation_form input[type="submit"] {
    width: 200px;
    font-size: 30px;
    vertical-align: bottom;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-47%);
}
.file_p{
	font-size: 15px;
}
.delete-btn{
	cursor: pointer;
}
.vrline {
	
    margin-right: 30px;
}
.form-col{
	flex: 0 0 auto;
    width: 20%;
}
hr{
	margin-bottom: 30px;
}
.file_btn{
	border: 1px solid gray;
	color: gray;
	border-radius: 10px;
	padding: 7px;
	display: inline-block;
}
.detail_ul{
	font-size: 25px;
	margin-top: 20px; 
}
.detail_ul li{
	margin-bottom: 15px;
}
.big_button{
	width: 200px;
    font-size: 30px;
}
.floatL{
	float: left;
	margin-right: 20px;
}
.payment-box{
	font-size: 25px;
    border: 2px solid gray;
    padding-top: 15px;
    padding-left:15px;
}
.span-right{
	float: right;
	margin-right: 10px;
}
.gray-font{
	color: gray;
	font-size: 18px;
}
.payment-method{
	margin-top: 25px;
	margin-bottom: 25px;
}
.payment-method div{
	padding-left: 2em;
	margin-left: 30px;
	margin-top:15px;
	border: 1px solid;
	border-radius: 5px;
	font-size: 15px;
	width:40%;
	height:40px;
	padding-top:7px;
	float: left;
	align-content: center;
}
.purchase{
	font-size: 16px;
	font-weight: bold;
	padding-right: 1.5em;
	margin-top: 20px;
}
#purchase_consent{
	margin-left: 7px;
	margin-right: 10px;
}
a{
	color:black;
}
.fc .fc-highlight{
	background: none;
}
.fc .fc-daygrid-day-top {
    border-bottom: 1px solid lightgray;
}
.fc-h-event .fc-event-title-container {
	height: 25px;
    font-size: 15px;
    line-height: 1.5;
}
.file-list{
	margin-top: 30px;
}
.file-list ul{
	margin-top: 15px;
	background-color: #f2f2f2;
	border: none;
}
.file-list ul li{
	border: 1px solid white;
	padding: 6px 10px 10px 5px;
	font-weight: bold;
	font-size: 15px;
}
.file-list ul li i{
	font-size: 30px;
	color: #1e4d3c;
}
.side-bar ul .ul-label{
	padding:10px 0 10px 0;
	font-size: 28px;
	color: #faf4d9;
	background-color: #4a4944;
	font-weight: bold;
	text-align: center;
	
}
.side-bar ul i{
	font-size: 10px;
}
.side-bar ul li a{
	margin-left: 10px;
}


.detail_container {
    display: flex;
    justify-content: space-between; /* 좌우 여백 유지 */
    padding: 20px; /* 좌우 여백 추가 */
}

.detail_left,
.detail_right {
    flex-basis: 48%; /* 좌우 각각의 너비 조절 */
    padding: 20px; /* 내용과 테두리 사이 여백 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 */
    background-color: #f9f9f9; /* 배경색 추가 */
}

.detail_left {
    margin-right: 20px; /* 우측 요소와의 간격 조절 */
}


.notice {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
table.striped-table2 td{
	border-bottom:1px solid rgba(0,0,0,.1);
}
table.striped-table2 tr:nth-child(odd){
	background-color:rgb(250,250,247);
}

.nav-item{
	font-size: 15px;
}



/* 갤러리-시설소개 */
.gallery_box{border-top:2px solid #454545; *zoom:1; letter-spacing:-1px}
.gallery_box:after{display:block; content:""; clear:both}
.gallery_box img,.gallery_box .gallery_text_box{float:left}
.gallery_box .gallery_01{margin-top:20px}
.gallery_box .gallery_01 img{width:200px; height:150px;}
.gallery_box .gallery_text_box{width:510px;}
.gallery_box .gallery_text_box li{padding:20px 0 0 20px; font-size:14px; font-weight:normal;}
.gallery_box .gallery_text_box li:first-child{padding-top:30px}

/* 탭안의 컨텐츠 타이틀 */
.tab_cont {padding-top:60px;}
.tab_h3tit{background:none; padding-left:0; padding-bottom:15px; margin-top:0; height:auto; font-size:16px; font-weight:bold; color:#222; line-height:1 }
/*#content .tab_cont .h3tit{background:url(/kepco/indi/art/img/com/bul_h3.gif) 0 5px no-repeat; height:auto; margin-top:30px; padding-left:10px; padding-bottom:12px; font-size:14px; font-weight:bold; color:#222; line-height:1;} art의 h3영향*/


/* 시설소개 - 무대설비 */
.gallery_box.type02{border-top:2px solid #454545; letter-spacing:-1px}
.gallery_box.type02 .gallery_text_box li{padding-top:0; font-size:12px;}
.bul_list_inline{letter-spacing:-1px}
.bul_list_inline li{display:inline-block; padding-left:10px; padding-right:10px}
.tbl_consection .tbl_grid{border-top:1px solid #c9c9c9}


/* 표테이블 */
.tbl_grid{border-top:2px solid #454545;}
.tbl_grid .rule_alignC{text-align:center;background:#b9b9b9;border-left:1px dotted #b9b9b9;border-right:1px dotted #b9b9b9}
.tbl_grid .rule_alignL{text-align:left;border-left:1px dotted #b9b9b9;border-right:1px dotted #b9b9b9}
.tbl_grid table{width:100%; border-bottom:1px solid #c9c9c9;}
.tbl_grid table thead th{background:#6d6d6d; line-height:43px; font-size:14px; color:#fff; border-left:1px solid #f1f1f1;}
.tbl_grid table tbody th,
.tbl_grid table tbody td{border-bottom:1px dotted #b9b9b9; text-align:left; padding:11px 0 11px 20px;}
.tbl_grid table tbody th{color:#222; background:#f9f9f9; font-weight:normal;}
.tbl_grid table tbody td img{vertical-align:middle;}
.tbl_grid a{color:#297ee9; text-decoration:underline;}
.tbl_grid.type02{border:0;}
.tbl_grid.type02 table tbody th,
.tbl_grid.type02 table tbody td{text-align:center; padding:11px 0;}
.tbl_grid.type02 table .colBg{background:#f9f9f9;}
.tbl_grid.type02 table td.price_won{text-align:right ; padding-right:10px;}
.tbl_grid.type02 table td.alignL{text-align:left; padding-left:20px;}

.h3tit {
    padding-left: 10px;
    margin: 28px 0 10px;
    font-size: 14px;
    color: #222;
    line-height: 1;
    font-weight: bold;
}








