/*swiper 시작*/
.out-container{
	width: 100%;
    max-width: 1920px;
    min-width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    height: 500px;
    position: relative;
}
.in-container{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-style: normal;
    vertical-align: baseline;
}
.swiper-container{
	margin: 0 auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
  	
}
.image {
width: 450px;
  height : 405px;
  margin-right: 25px;
}
/*swiper 끝*/

/*공연 검색 시작*/
.search-section{
	margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    vertical-align: baseline;
    
}

.page-title{
	display: inline-block;
    margin-top: 92px;
    margin-bottom:100px;
    font-size: 45px;
    font-family: 'Noto Sans KR','NanumBarunGothic','맑은 고딕','Malgun Gothic',sans-serif;
    font-weight: 500;
    position: relative
}

#keyfield{
	width: 10%;
	margin-right:10px;
}

.search{
	position: relative;
 	width: 600px;
 	margin : auto;
}

.search-bar{
	width: 87%;
  	border: 1px solid #bbb;
  	border-radius: 8px;
  	padding: 10px 12px;
  	font-size: 14px;
}

.search-btn{
	position : absolute;
	width: 17px;
	top: 11px;
  	right: 15px;
  	margin: 0;
  	cursor: pointer;
}

/*공연 검색 끝*/

/*공연 리스트 시작*/
.list-container{
	width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.list-proudct{
	height: 500px;
	width: 1300px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}
.list-product a{
	display: inline-block;
    width: 216px;
    height: 410px;
    margin: 70px 15px;
    vertical-align: top;
    
    text-decoration-line:none;
}

.list-product-img{
	width: 216px;
    height: 410px;
 
}
.list-product-img img{
	display: block;
    width: 100%;
    transition: all 0.3
}
.list-product-txt{
	width: 100%;
    height: 108px;
    text-align: center;
    position: relative;
}
.list-product-txt .v1{
	color: #333;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 22px;
    padding: 25px 0 12px 0;
    margin:0;
}
.list-product-txt .v2{
	font-size: 13px;
    color: #999;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
}
.product-monopoly{
	top: -46px;
	
	font-size: 19px;
    color: #fff;
    background: #ec7d2c;
    width: 57px;
    height: 57px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    font-weight: bold;
    position: absolute;
    left: 10px;
    
}
/*공연 리스트 끝*/

/*공연 상세 시작*/
.common-container{
	display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1180px;
    min-height: 100%;
}

.detail-container{
	display: flex;
    position: relative;
    padding-bottom: 40px;
    margin: 64px auto;
    width: 1120px
}

.detail-container .img-container{
	position: relative;
    overflow: hidden;
    flex: none;
    margin-right: 40px;
    width: 405px;
    height:550px;
    border-radius: 10px;
    background: #f5f6f9;
}
.detail-container .info-container{
	flex:1;
	margin: 0;
    padding: 0;
}
.concert-monopoly{
	background-color: #fa2828;
    border-color: #fa2828;
    color: #fff;
    
    display: inline-block;
    margin: 4px 0 0 4px;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 15px;
    border-radius: 16px;
}
.concert-title{
	position: relative;
    padding: 0 75px 10px 0;
    border-bottom: 1px solid #242428;
    line-height: 0;
    color: #242428
}
.concert-title-content{
	background: none;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    color: #242428;
}
.concert-info-l1{
	display: flex;
    flex-wrap: wrap;
    padding: 14px 0 20px;
}
.info{
	width: 50%;
	display: flex;
    padding: 7px 0 6px;
    font-size: 15px;
    line-height: 22px;
    box-sizing: border-box;
}
.info2{
	width: 100%;
	display: flex;
    padding: 7px 0 6px;
    font-size: 15px;
    line-height: 22px;
    box-sizing: border-box;
}

.info span{
	flex: none;
    width: 70px;
    margin-right: 10px;
    color: #62676c;
}
.info2 span{
	flex: none;
    width: 70px;
    margin-right: 10px;
    color: #62676c;
}
.concert-info-l1 .info div{
	flex: 1;
}
.concert-price-info{
	position:relative;
}

.concert-detail-img{
    margin:0 auto;
}
.concert-reserve-container{
	position: relative;
	margin: 0 auto;
    width: 1120px;
}
.reserve-border{
	display: flex;
    max-height: 320px;
    border: 1px solid #878d95;
    border-radius: 10px;
    box-sizing: border-box;
}
.datepicker-container{
	display: flex;
    padding: 20px 24px 13px 23px;
}
.date-header{
	margin-bottom: 18px;
    width: 100px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #242428;
}
.reserve-step1{
	font-weight: 700;
	font-size: 16px;
    line-height: 24px;
}
.reserveTime-container{
	display: flex;
    align-items: flex-start;
    padding: 20px 0 20px 24px;
    border-left: 1px solid #ecedf2;
}
.concert-time-list{
	overflow-y: overlay;
    scrollbar-width: thin;
    padding-right: 24px;
    width: 257px;
    height: 100%;
    list-style: none;
}
#concert-time-btn, #concert-time-btn2{
	padding: 11px 18px 11px 15px;
    width: 100%;
    border: 1px solid #dcdde1;
    background-color: rgba(0,0,0,0);
    border-radius: 6px;
    text-align: left;
}
.time-box{
	display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #242428;
}
.reserve-seat-info{
	flex: 1;
    padding: 19px 0 20px 20px;
    border-left: 1px solid #ecedf2;
    border-radius: 0 10px 10px 0;
    background: #f8f9fa;
}
.concert-seats{
	display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 18px;
    
    margin: 0;
    padding: 0;
}
#seatsNum{
	display: inline-flex;
    color: #242428;
    font-weight: 700;
    padding-right: 24px;
}

/*공연 상세 끝*/


/*datepicker ui 시작*/
.ui-datepicker-calendar>thead>tr>th {
	font-size: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 10px 0;
}
/*기본 날짜*/
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
	padding: 6px;
	border: 0px solid #c5c5c5;
	background-color: transparent;
	font-weight: normal;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 0em;
	line-height: 16px;
	text-align: center;
	font-size: 20px;
	padding: 0px;
	padding-bottom: 10px;
	font-weight: bold;
}

.ui-datepicker {
	display: none;
	background-color: #fff;
	border-radius: 4px;
	/* margin-top: 10px; */
	margin-left: 0px;
	margin-right: 0px;
	/* padding: 20px; */
	padding-bottom: 10px;
	width: 300px;
}

#datepicker:focus>.ui-datepicker {
	display: block;
}

.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-next {
	float: right;
}

.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}

.ui-datepicker-calendar {
	width: 100%;
}

.ui-datepicker-calendar>thead>tr>th {
	padding: 5px;
	font-size: 20px;
	font-weight: 400;
}

.ui-datepicker-calendar>tbody>tr>td>a {
	color: #000;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none;
}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}

.ui-datepicker-calendar>tbody>tr>td {
	border-radius: 100%;
	cursor: pointer;
	padding: 5px;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}

.ui-datepicker-calendar>tbody>tr>td:hover {
	background-color: transparent;
	opacity: 0.6;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
	.ui-button:hover, .ui-button:focus {
	border: 0px solid #cccccc;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: rgb(255, 87, 133);
}

.ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: rgb(55, 165, 255);
}

.ui-datepicker-calendar>thead>tr>th:first-child {
	color: rgb(255, 87, 133);
}

.ui-datepicker-calendar>thead>tr>th:last-child {
	color: rgb(55, 165, 255);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 0px;
	background: #f1f1f1;
	border-radius: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inp {
	padding: 10px 10px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 0px;
}

.inp:focus {
	outline: none;
	background-color: #eee;
}
/*선택한 날짜*/
.ui-datepicker-calendar .ui-state-active {
	border-radius: 50%;
/* 	padding: 6px; */
	border: 0px solid #000;
	background-color: #f4aa10;
	color: white !important;
	display:block;
	width:30px;
}

/*datepicker ui 끝*/


/*예약 버튼 시작*/
.concert-reserve-btn-container{
	display: flex;
    margin-top: 19px;
}
.concert-btn-area{
	margin-left: auto;
    font-size: 0;
}
.reserve-btn{
	width: 270px;
	vertical-align: middle;
	height: 56px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
    /* border: 1px solid #fa2828; */
    /* background-color: #fa2828; */
    background-color: #ced4da;
    border: 1px solid #ced4da;
    color: #fff;
}