/*swiper 시작*/
.out-container{
	width: 100%;
    max-width: 1920px;
    min-width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    height: 500px;
    position: relative;
}
.in-container{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-style: normal;
    vertical-align: baseline;
}
.swiper-container{
	margin: 0 auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
  	
}
.image {
width: 450px;
  height : 405px;
  margin-right: 25px;
}
/*swiper 끝*/

/*공연 검색 시작*/
.search-section{
	margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    vertical-align: baseline;
    
}

.page-title{
	display: inline-block;
    margin-top: 92px;
    margin-bottom:100px;
    font-size: 45px;
    font-family: 'Noto Sans KR','NanumBarunGothic','맑은 고딕','Malgun Gothic',sans-serif;
    font-weight: 500;
    position: relative
}

#keyfield{
	width: 10%;
	margin-right:10px;
}

.search{
	position: relative;
 	width: 600px;
 	margin : auto;
}

.search-bar{
	width: 87%;
  	border: 1px solid #bbb;
  	border-radius: 8px;
  	padding: 10px 12px;
  	font-size: 14px;
}

.search-btn{
	position : absolute;
	width: 17px;
	top: 11px;
  	right: 15px;
  	margin: 0;
  	cursor: pointer;
}

/*공연 검색 끝*/

/*공연 리스트 시작*/
.list-container{
	width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.list-proudct{
	height: 500px;
	width: 1300px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}
.list-product a{
	display: inline-block;
    width: 216px;
    height: 410px;
    margin: 70px 15px;
    vertical-align: top;
    
    text-decoration-line:none;
}

.list-product-img{
	width: 216px;
    height: 410px;
 
}
.list-product-img img{
	display: block;
    width: 100%;
    transition: all 0.3
}
.list-product-txt{
	width: 100%;
    height: 108px;
    text-align: center;
    position: relative;
}
.list-product-txt .v1{
	color: #333;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 22px;
    padding: 25px 0 12px 0;
    margin:0;
}
.list-product-txt .v2{
	font-size: 13px;
    color: #999;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
}
.product-monopoly{
	top: -46px;
	
	font-size: 19px;
    color: #fff;
    background: #ec7d2c;
    width: 57px;
    height: 57px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    font-weight: bold;
    position: absolute;
    left: 10px;
    
}
/*공연 리스트 끝*/

/*공연 상세 시작*/
.common-container{
	display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1180px;
    min-height: 100%;
}

.detail-container{
	display: flex;
    position: relative;
    padding-bottom: 40px;
    margin: 64px auto;
    width: 1120px
}

.detail-container .img-container{
	position: relative;
    overflow: hidden;
    flex: none;
    margin-right: 40px;
    width: 405px;
    height:550px;
    border-radius: 10px;
    background: #f5f6f9;
}
.detail-container .info-container{
	flex:1;
	margin: 0;
    padding: 0;
}
.concert-monopoly{
	background-color: #fa2828;
    border-color: #fa2828;
    color: #fff;
    
    display: inline-block;
    margin: 4px 0 0 4px;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 15px;
    border-radius: 16px;
}
.concert-title{
	position: relative;
    padding: 0 75px 10px 0;
    border-bottom: 1px solid #242428;
    line-height: 0;
    color: #242428
}
.concert-title-content{
	background: none;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    color: #242428;
}
.concert-info-l1{
	display: flex;
    flex-wrap: wrap;
    padding: 14px 0 20px;
}
.info{
	width: 50%;
	display: flex;
    padding: 7px 0 6px;
    font-size: 15px;
    line-height: 22px;
    box-sizing: border-box;
}
.info2{
	width: 100%;
	display: flex;
    padding: 7px 0 6px;
    font-size: 15px;
    line-height: 22px;
    box-sizing: border-box;
}

.info span{
	flex: none;
    width: 70px;
    margin-right: 10px;
    color: #62676c;
}
.info2 span{
	flex: none;
    width: 70px;
    margin-right: 10px;
    color: #62676c;
}
.concert-info-l1 .info div{
	flex: 1;
}
.concert-price-info{
	position:relative;
}

.concert-detail-img{
    margin:0 auto;
}

/*공연 상세 끝*/