<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.member.dao.MemberMapper">
	<!-- 회원 가입 -->
	<insert id="insertMember" parameterType="memberVO">
		INSERT INTO member (
			mem_num,
			mem_id,
			mem_nickname) 
		VALUES (
			#{mem_num},
			#{mem_id},
			#{mem_nickname})
	</insert>
	
	<!-- 회원 가입 상세 -->
	<insert id="insertMember_detail" parameterType="memberVO">
		INSERT INTO member_detail (
			mem_num,
			mem_name,
			mem_passwd,
			mem_phone,
			mem_email,
			mem_zipcode,
			mem_address1,
			mem_address2)
		VALUES (
			#{mem_num},
			#{mem_name},
			#{mem_passwd},
			#{mem_phone},
			#{mem_email},
			#{mem_zipcode},
			#{mem_address1},
			#{mem_address2})
	</insert>
	
	<!-- 회원 가입 포인트 -->
	<insert id="insertMember_point" parameterType="memberVO">
		INSERT INTO member_point (
			pt_num,
			mem_num,
			pt_amount,
			pt_content)
		VALUES (
			#{pt_num},
			#{mem_num},
			'2000',
			'회원가입')
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id="selectMemberId" parameterType="memberVO">
		SELECT mem_id
		FROM member JOIN member_detail USING(mem_num)
		WHERE mem_name=#{mem_name} 
		AND mem_email=#{mem_email}
	</select>

	<!-- 아이디 중복 체크 및 로그인 체크 -->
	<select id="selectCheckMember" parameterType="String">
		SELECT
			mem_id,
			mem_num,
			mem_auth,
			mem_nickname,
			mem_au_id,
			mem_passwd,
			mem_email
		FROM member LEFT OUTER JOIN member_detail
		USING(mem_num)
		WHERE mem_id=#{id}
	</select>

	<!-- 아이디 찾기 -->
	
	<select id="findMemberId" parameterType="MemberVO" resultType="MemberVO">
	    SELECT mem_id       		   
	    FROM member LEFT OUTER JOIN member_detail
        USING(mem_num)
	    WHERE mem_name=#{mem_name} AND 
	    mem_email=#{mem_email};
	</select>
	<!-- 회원 상세 정보 수정 -->
	<update id="updateMember_detail" parameterType="memberVO">
		UPDATE member_detail SET
			mem_email=#{mem_email},
			mem_phone=#{mem_phone},
			mem_zipcode=#{mem_zipcode},
			mem_address1=#{mem_address1},
			mem_address2=#{mem_address2},
			mem_modify_date=SYSDATE
		WHERE mem_num=#{mem_num}
	</update>
	
	<!-- 게시판 글의 총개수/검색 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM member_point
		WHERE mem_num=#{mem_num}
	</select>
	
	<!-- 게시판 전체 목록/검색 목록 -->
	<select id="selectPointList" parameterType="map" resultType="memberVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			FROM (SELECT 
			        pt_num,
			        pt_amount, 
			        SUM(pt_amount) OVER (ORDER BY pt_num ASC) total_point,
			        pt_content,
			        pt_reg_date 
			      FROM member_point 
			      WHERE mem_num=#{mem_num} 
			      ORDER BY pt_reg_date DESC)a)
			<![CDATA[
		   	WHERE rnum >= #{start} AND rnum <= #{end}
		   	]]>
	</select>
</mapper>