<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.md.dao.MdMapper">
<!-- 상품 등록 -->
<insert id="insertMd" parameterType="mdVO"> 
	INSERT INTO md(
		md_num, 
		md_name,
		md_price,
		md_quantity,
		md_photo1,
		md_photo2,
		md_detail,
		md_status
	) VALUES ( 
		#{md_num}, 
		#{md_name}, 
		#{md_price}, 
		#{md_quantity}, 
		#{md_photo1}, 
		#{md_photo2}, 
		#{md_detail}, 
		#{md_status}
	) 
</insert>

</mapper>
