<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.reserv.dao.ReservMapper">
	<!-- 대관 신청 -->
	<insert id="insertReserv" parameterType="reservHallVO">
		INSERT INTO reservhall (
			reservation_num,
			mem_num,
			reservation_form1,
			<if test="reservation_form2 != null and reservation_form2 != ''">
				reservation_form2,
			</if>
			<if test="reservation_form3 != null and reservation_form3 != ''">
				reservation_form3,
			</if>
			reservation_name,
			reservation_email,
			reservation_phone
			) 
		VALUES (
			#{reservation_num},
			#{mem_num},
			#{reservation_form1},
			<if test="reservation_form2 != null and reservation_form2 != ''">
				#{reservation_form2},
			</if>
			<if test="reservation_form3 != null and reservation_form3 != ''">
				#{reservation_form3},
			</if>
			#{reservation_name},
			#{reservation_email},
			#{reservation_phone}
			)
	</insert>
	
	<select id="selectReservListAdmin" parameterType="map" resultType="reservHallVO">
		SELECT
		  *
		FROM (SELECT
		        a.*,
		        rownum rnum
		      FROM (SELECT
		             *
		            FROM reservhall ORDER BY reservation_regdate DESC)
		      a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	<select id="selectReservListAdminCount" resultType="integer">
		SELECT
		  COUNT(*)
		FROM reservhall
	</select>
	
	<insert id="insertPaymentHall" parameterType="integer">
		 INSERT INTO paymentHall (reservation_num, reservation_price) 
		    VALUES (#{reservation_num},
		    	(SELECT
					  SUM(CASE WHEN TO_CHAR(reservation_date, 'D') IN ('1', '7') THEN 400000 ELSE 300000 END)
						FROM reservhalldate WHERE reservation_num = #{reservation_num} GROUP BY reservation_num)
		    )
	</insert>
	
	<update id="updatePayment" parameterType="paymentHallVO">
		UPDATE paymenthall 
			SET 
				payment_date=#{payment_date},
				payment_name=#{payment_name},
				payment_phone=#{payment_phone},
				payment_email=#{payment_email},
				payment_status=1,
				payment_method=#{payment_method},
				imp_uid=#{imp_uid},
				merchant_uid=#{merchant_uid}
			 WHERE reservation_num=#{reservation_num}
	</update>
	
	<!-- full calendar 일정 불러오기 -->
	<select id="selectReservSchedule" resultType="reservHallDateVO">
		SELECT reservation_name, reservation_date, reservation_num FROM reservhalldate LEFT OUTER JOIN reservhall USING(reservation_num) WHERE reservation_status=3 ORDER BY reservation_date
	</select>
</mapper>