<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.chat.dao.ChatMapper">
	<resultMap type="kr.spring.chat.vo.ChatRoomVO" id="chatMap" >
	    <result property="chatroom_num" column="chatroom_num"/>
	    <result property="mem_num" column="mem_num"/>
	    <result property="mem_id" column="mem_id"/>
	    <result property="read_count" column="read_count"/>
	    <association property="chatMessageVO" resultMap="chatMessageMap"/>
	</resultMap>
	
	<resultMap type="kr.spring.chat.vo.ChatMessageVO" id="chatMessageMap">
	    <result property="message" column="message"/>
	    <result property="send_date" column="send_date"/>
	</resultMap>
	
	<select id="selectChatRoomList" parameterType="map" resultMap="chatMap">
		SELECT m.mem_id,
			   cm.message,
			   cm.send_date,
			   cr.chatroom_num,
			   (SELECT COUNT(*) FROM chatmessage sub_cm
			   WHERE sub_cm.chatroom_num = cr.chatroom_num
          	   AND sub_cm.read_check=1) AS read_count
		FROM chatroom cr
		LEFT OUTER JOIN member m ON cr.mem_num=m.mem_num
		LEFT OUTER JOIN (
			SELECT cm1.chatroom_num,
				   cm1.message,
				   cm1.send_date FROM chatmessage cm1
			WHERE cm1.send_date=(
				   SELECT MAX(cm2.send_date)
				   FROM chatmessage cm2
				   WHERE cm2.chatroom_num=cm1.chatroom_num)
			) cm ON cr.chatroom_num=cm.chatroom_num
		ORDER BY cm.send_date DESC
	</select>
	
	<select id="selectRowCount" parameterType="map" resultType="integer">
	    SELECT COUNT(*) FROM chatroom
	</select>
	
	<!-- 채팅 메시지 읽기 -->
	<select id="selectChatDetail" parameterType="integer" resultType="chatMessageVO">
		SELECT 
		    message,
		    send_date,
		    read_check,
		    mem_num,
		    mem_id
		FROM chatmessage
		JOIN member USING(mem_num)
		WHERE chatroom_num=#{chatroom_num}
		ORDER BY send_date ASC
	</select>
	
</mapper>


















